@charset "UTF-8";

@import "normalize.css";

/* ========================================
 Base
======================================== */

* {
    box-sizing: border-box;
    word-wrap : break-word;
    overflow-wrap : break-word;
    background-repeat: no-repeat;
}

html {
    overflow-y: scroll;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
}

body, div, p, form, input, select, option, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, address {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: top;
}

a {
    text-decoration: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

select::-ms-expand {
    display: none;
}

button {
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
}

/* ========================================
 Default
======================================== */

body {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #444;
}

a {
    color: #444;
}

@media print, screen and (min-width: 768px) {
    body {
        font-size: 1.6rem;
    }
}

/* ========================================
 Header
======================================== */

.siteTitle {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
}

.siteTitle::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    display: inline-block;
    content: '';
    width: 7em;
    height: 3px;
    background-color: #444;
}

@media print, screen and (min-width: 768px) {
    .siteTitle {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.globalNavWrap {
    margin-top: 50px;
    margin-bottom: 50px;
}

.globalNav {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #dddddd;
    font-size: 1.3rem;
}

.globalNav li {
    width: 50%;
    border-bottom: 1px solid #dddddd;
}

.globalNav li:nth-child(odd) {
    border-right: 1px solid #ddd;
}

.globalNav li a {
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media print, screen and (min-width: 768px) {
    .globalNavWrap {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .globalNav {
        flex-wrap: nowrap;
        border-bottom: 1px solid #dddddd;
        font-size: 1.4rem;
    }
    .globalNav li {
        width: 100%;
        border-bottom: none;
    }
    .globalNav li:nth-child(odd) {
        border-right: none;
    }
    .globalNav li:not(:first-child) {
        border-left: 1px solid #ddd;
    }
}

/* ========================================
 Contents
======================================== */

.contents {
    margin: 50px 15px 0;
}

@media print, screen and (min-width: 768px) {
    .contents {
        display: flex;
        justify-content: space-between;
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ---------- main ---------- */

@media print, screen and (min-width: 768px) {
    .main {
        width: 65%;
    }
}

/* ---------- side ---------- */


.side {
    margin: 50px -15px 0;
    border-top: 1px solid #dddddd;
}

@media print, screen and (min-width: 768px) {
    .side {
        width: 28%;
        margin: 0;
        border-top: none;
    }
}

.side_item {
    padding: 30px 15px;
    border-bottom: 1px solid #dddddd;
}

@media print, screen and (min-width: 768px) {
    .side_item {
        padding-left: 0;
        padding-right: 0;
    }
    .side_item:first-child {
        padding-top: 0;
    }
    .side_item:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.side_heading {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.side_heading::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    display: inline-block;
    content: '';
    width: 2em;
    height: 3px;
    background-color: #444;
}

.side_list li + li {
    margin-top: 1em;
}

.side_list li a {
    display: block;
    padding: 15px;
    background-color: #f6f6f6;
}

@media print, screen and (min-width: 768px) {
    .side_list {
        font-size: 1.3rem;
    }
}

/* ---------- post ---------- */

.post + .post {
    margin-top: 50px;
}

@media print, screen and (min-width: 768px) {
    .post + .post {
        margin-top: 60px;
    }
}

.post_heading {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.post_date {
    display: inline-block;
    font-size: 1.2rem;
}

.post_category {
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 10px;
}

.post_description {
    margin-top: 6px;
    font-size: 1.4rem;
}

@media print, screen and (min-width: 768px) {
    .post_heading {
        margin-bottom: 10px;
        font-size: 2rem;
    }
    .post_date {
        font-size: 1.3rem;
    }
    .post_category {
        font-size: 1.3rem;
    }
    .post_description {
        margin-top: 10px;
        font-size: 1.5rem;
        line-height: 1.875;
    }
}


/* ========================================
 Footer
======================================== */

.footer {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.2rem;
}

.footer small {
    font-size: inherit;
}

@media print, screen and (min-width: 768px) {
    .footer {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}